<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/AMHomePageDesign/css/main.css" />
	<noscript><link rel="stylesheet" href="~/AMHomePageDesign/css/noscript.css" /></noscript>

	<!-- Scripts -->
	<script src="~/AMHomePageDesign/js/jquery.min.js"></script>
	<script src="~/AMHomePageDesign/js/jquery.scrolly.min.js"></script>
	<script src="~/AMHomePageDesign/js/jquery.dropotron.min.js"></script>
	<script src="~/AMHomePageDesign/js/jquery.scrollex.min.js"></script>
	<script src="~/AMHomePageDesign/js/browser.min.js"></script>
	<script src="~/AMHomePageDesign/js/breakpoints.min.js"></script>
	<script src="~/AMHomePageDesign/js/util.js"></script>
	<script src="~/AMHomePageDesign/js/main.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
