<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Landed by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/AMHomePageDesign/css/main.css" />
	<noscript><link rel="stylesheet" href="~/AMHomePageDesign/css/noscript.css" /></noscript>
</head>
<body class="is-preload landing">
	<div id="page-wrapper">

		<!-- Header -->
	@* 	<header id="header">
			<h1 id="logo"><a href="index.cshtml">Landed</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="index.cshtml">Home</a></li>
					<li>
						<a href="#">Layouts</a>
						<ul>
							<li><a href="left-sidebar.html">Left Sidebar</a></li>
							<li><a href="right-sidebar.html">Right Sidebar</a></li>
							<li><a href="no-sidebar.html">No Sidebar</a></li>
							<li>
								<a href="#">Submenu</a>
								<ul>
									<li><a href="#">Option 1</a></li>
									<li><a href="#">Option 2</a></li>
									<li><a href="#">Option 3</a></li>
									<li><a href="#">Option 4</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="~/AMHomePageDesign/elements.cshtml">Elements</a></li>
					<li><a href="#" class="button primary">Sign Up</a></li>
				</ul>
			</nav>
		</header> *@

		<!-- Banner -->
		<section id="banner">
			<div class="content">
				<header>
					<h2>Performance is our passion</h2>
					<p>
						No nonsense.<br />
						Just pure hard work and quality results.
					</p>
				</header>
				<span class="image"><img src="~/AMHomePageDesign/images/amroundlogo.png" alt="" /></span>
			</div>
			<a href="#one" class="goto-next scrolly">Next</a>
		</section>

		<!-- One -->
		<section id="one" class="spotlight style1 bottom">
			<span class="image fit main"><img src="~/AMHomePageDesign/images/driftcarnew.jpg" alt="" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<header>
								<h2>About Antonie Motors</h2>
								<p>The roots of vehicle performance, speciality and passion.</p>
							</header>
						</div>
						<div class="col-4 col-12-medium">
							<p>
								Founded in 1988, Antonie Motors has been the trusted name in Johannesburg
								for high-quality car care and service. As a family-owned business with
								deep-rooted values, Antonie Motors is dedicated to providing precision,
								quality, and personalized service at every visit. With three specialized
								branches, Antonie Motors caters to all aspects of vehicle maintenance,
								repair, and enhancement.
							</p>
						</div>
						<div class="col-4 col-12-medium">
							<p>
								Known for their exceptional expertise, they
								pride themselves on attention to detail and treating each vehicle as if
								it were their own. Whether it’s keeping engines running smoothly,
								restoring vehicles with expert panel beating and painting, or creating
								comfortable, stylish interiors, the Antonie family and their experienced
								team go the extra mile to deliver results you can trust. At Antonie Motors,
								it's more than just business—it's a legacy of service and care that drives
								them to excellence.
							</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#two" class="goto-next scrolly">Next</a>
		</section>

		<!-- Two -->
		<section id="two" class="spotlight style2 right">
			<span class="image fit main"><img src="~/AMHomePageDesign/images/engineservice.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Complete Car and Engine Solutions</h2>
				</header>
				<p>
					At the heart of Antonie Motors lies their general and specialized car and engine service branch
					, owned by Alex Antonie, located at 205 Main Reef Rd, Denver. From routine maintenance to complex
					engine work he skilled technicians bring years of experience and  precision, providing comprehensive 
					services like engine diagnostics, overhauls, and performance enhancements. Alex Antonie and his team treats each car with exceptional
					care, taking pride in delivering long-lasting results and ensuring every client leaves satisfied. If you’re
					looking for a service that values your vehicle’s health as much as you do, this branch is the answer.
				</p>
				<ul class="actions">
					<li><a href="@Url.Action("CarEngine", "Home")" class="button">Learn More</a></li>
				</ul>
			</div>
			<a href="#three" class="goto-next scrolly">Next</a>
		</section>

		<!-- Three -->
		<section id="three" class="spotlight style3 left">
			<span class="image fit main bottom"><img src="~/AMHomePageDesign/images/pannelsandpaint.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Expert Panel Beating and Painting</h2>
				</header>
				<p>At 46 Marshall St in Ferreiras Dorp, Angelo Antonie oversees Antonie Motors' panel beating and painting
					branch, renowned for high-quality, flawless restorations. This branch specializes in transforming damaged
					or worn-out vehicles into showroom-ready cars with impeccable bodywork and paint matching. Angelo and his team
					of skilled technicians work to restore each vehicle with precision, providing everything from 
					scratch repair and pannel beating to full repaints. Every job is handled with an eye for detail and craftsmanship, 
					ensuring that cars look their best. Trust Antonie Motors’ panel beating and painting team
					to revive your car with style.</p>
				<ul class="actions">
					<li><a href="@Url.Action("CarPanelbeating", "Home")" class="button">Learn More</a></li>
				</ul>
			</div>
			<a href="#four" class="goto-next scrolly">Next</a>
		</section>


		<!-- Four -->
		<section id="two" class="spotlight style2 right">
			<span class="image fit main"><img src="~/AMHomePageDesign/images/carinterior.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Upholstery and Interior Experts</h2>
				</header>
				<p>Andrew Antonie heads the upholstery and interior branch, located at 44 12th St, Springs, 
					where the focus is on crafting comfortable, stylish, and durable car interiors. Specializing 
					in everything from fabric repairs to custom leather installations, this branch offers complete 
					interior makeovers that suit your style and comfort needs. Whether you're looking to repair existing
					wear or create a custom look, Andrew and his team work with precision and artistry to deliver exceptional
					quality. This branch is dedicated to enhancing your driving experience, turning your vehicle’s interior 
					into a personalized, comfortable space that feels like home.</p>
				<ul class="actions">
					<li><a href="@Url.Action("CarUpholstery", "Home")" class="button">Learn More</a></li>
				</ul>
			</div>
			<a href="#three" class="goto-next scrolly">Next</a>
		</section>

	

		<!-- Footer -->
		<footer id="footer">
		
			<ul class="copyright">
				<li>&copy; Antonie Motors. All rights reserved.</li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="~/AMHomePageDesign/js/jquery.min.js"></script>
	<script src="~/AMHomePageDesign/js/jquery.scrolly.min.js"></script>
	<script src="~/AMHomePageDesign/js/jquery.dropotron.min.js"></script>
	<script src="~/AMHomePageDesign/js/jquery.scrollex.min.js"></script>
	<script src="~/AMHomePageDesign/js/browser.min.js"></script>
	<script src="~/AMHomePageDesign/js/breakpoints.min.js"></script>
	<script src="~/AMHomePageDesign/js/util.js"></script>
	<script src="~/AMHomePageDesign/js/main.js"></script>

</body>
</html>