
.service-cards-container {
    display: flex;
    flex-wrap: wrap; /* Allows the cards to wrap into rows */
    gap: 20px; /* Adds space between cards */
    justify-content: space-evenly; /* Evenly spaces out the cards */
    margin-top: 30px;
    padding-left: 20px; /* Adjust this if the navbar is fixed and takes space on the left */
    margin-left: 0;
    width: calc(100% - 250px); /* Adjust the width for navbar on left (e.g., 240px for a sidebar) */
    box-sizing: border-box;
}

.service-card {
    flex: 1 1 calc(50% - 20px); /* Each card takes up one-third of the width */
    max-width: calc(50% - 20px); /* Ensure width doesn't exceed one-third */
    box-sizing: border-box;
    background-color: #fff;
    border: 3px solid #038a39;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

/* Media query for smaller screens (tablet or mobile) */
@media (max-width: 768px) {
    .service-card {
        flex: 1 1 calc(100% - 50px); /* On smaller screens, each card takes up 100% of the width */
        max-width: calc(100% - 50px);
    }
}

.service-name {
    background-color: #038a39;
    color: #fff;
    padding: 12px;
    border-radius: 20px 20px 20px 20px;
    font-size: 24px;
    font-weight: 700;
}

.status-badge-not-started {
    background-color: rgba(208, 83, 83, 0.5);
    color: #6f0303;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
    display: inline-block;
}

.status-badge-busy {
    background-color: rgb(247, 218, 175);
    color: #8C3200;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
    display: inline-block;
}

.status-badge-completed {
    background-color: rgb(178, 226, 195);
    color: #003714;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
    display: inline-block;
}

.service-details {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 20px;
}

.details-labels {
    flex: 1;
    text-align: left;
    font-weight: 800;
}

.details-values {
    flex: 1;
    text-align: left;
    font-weight: normal;
    margin-top: 40px;
}

.vehicle-info {
    margin-top: 5px;
    flex: 1;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}

.date-info, .date-values {
    margin-top: 15px;
}





