@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid" style="margin-left: 250px;">
    <h2>Change Password</h2>
   @*   <form asp-action="ChangePassword" method="post">
         <div>
             <label>Current Password:</label>
             <input asp-for="OldPassword" type="password" class="form-control" />
         </div>
         <div>
             <label>New Password:</label>
             <input asp-for="NewPassword" type="password" class="form-control" />
         </div>
         <div>
             <label>Confirm New Password:</label>
             <input asp-for="ConfirmPassword" type="password" class="form-control" />
         </div>
         <button type="submit" class="btn btn-primary">Change Password</button>
     </form> *@



</div>
